<div class="container">
  <div class="mb-3 mt-3">
    <input
      type="text"
      class="form-control"
      placeholder="Search items..."
      [(ngModel)]="searchTerm"
      (input)="filterItems()"
    />
  </div>

  <div>
    @if(listCount !== 0){
    {{ listCount }} Blogs were found }
  </div>
  @if(filteredItems.length){
  <ul class="list-group">
    @for (item of filteredItems; track $index) {
    <li class="list-group-item">
      <h3 [innerHTML]="item.title | highlightText : searchTerm"></h3>
      <h6 [innerHTML]="item.subtitle | highlightText : searchTerm"></h6>
      <p [innerHTML]="item.text | highlightText : searchTerm"></p>
    </li>
    }
  </ul>
  }@else { No Result! }
</div>
